.space{padding :7px;  display: block;float: left;}
.tab{padding: 30px;  display: block;float: left;}
.shape{
  background-color: rgb(207, 207, 207);
  height: 25px;
  width: 1500px;
  padding: 10px;
  margin: auto;
  text-align: left;
  float: left;
}
.label_bar{
  margin: 0px;
    margin-top:3.8px ;
  font-size: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.label_bar, .color_picker{
  display: block;
  float: left;
}
.color_picker::-webkit-color-swatch {
    border: none;
    padding: 0;
    margin: 0px;
}
.color_picker {
    border: none;
    width: 25px;
    height: 25x;
    margin: 2px;
    outline: none;
}